<!DOCTYPE html>

<html>
    <head>
        <title>about</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
        
    <body>
        {{>header}}
        <img class="portrait" src="img/profilepic.png">
        <p>Created by {{name}}</p>
        {{>footer}}
    </body>
</html>